* {
  box-sizing: border-box;

  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
  color-adjust: exact !important;                 /* Firefox 48 – 96 */
  print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
}


body {
  min-height: 100vh;
  margin: 0;
  padding: 20px 15px 0;
  font-family: "YS Text",Arial,Helvetica,"Arial Unicode MS",sans-serif;
  background: url(/resources/background.jpg)  no-repeat center center fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #333;
}
a {
  display: inline-block;
  position: relative;
  padding: 0px;
}
a:before, a:after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 0;
}
a:before {
  transition: width 0s ease,background .4s ease;
  bottom: -2px;
}
a:after {
  right: 2.2%;
  bottom: -2px;
  background: #ffc107;
  transition: width .4s ease;
}
a:hover:before {
  width: 97.8%;
  background: #ffc107;
  transition: width .4s ease;
}
a:hover:after {
  width: 97.8%;
  background: 0 0;
  transition: all 0s ease;
}


.wrapper {
  width: 100%;
  max-width: 1000px;
  background: #fff;
  margin: 0 auto;
  position: relative;
}


.header {
  height: 300px;
  background: #ffc107;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 0 340px;
}
.quote {
  font-size: 3em;
  position: relative;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
}
.quote:before {
  color: #000;
  content: "\201C";
  font-size: 1.5em;
  position: absolute;
  left:-45px;
  top: 25px;
  line-height: 0.1em;
}
.quote:after {
  color: #000;
  content: "\201D";
  font-size: 1.5em;
  position: absolute;
  right:-40px;
  bottom: -10px;
  line-height: 0.1em;
}


.side {
  background: #333;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 340px;
  padding: 40px 20px 20px;
  color: #fff;
}
.side h2 {
  color: #ffc107;
}
.side a {
  color:#fff;
}
.photo {
  width: 250px;
  height: 250px;
  margin: 0 auto 50px;
  border-radius: 100%;
  background-color: #fff;
  background-image: url(/resources/avatar.png);
  background-size: cover;
  border: 10px #ffc107 solid;
}
.side-info:not(:last-child) {
  margin-bottom: 50px;
}


.content {
  padding: 20px 20px 0 390px;
}
.content h3 span{
  display:inline-block;
}
.content p,.content li{
  text-align: left;
  letter-spacing:0.5px;
  line-height:1.5
}
.content li{
  list-style:none;
}
.content li:before{
  display: inline-block;
  height: 10px;
  width: 13px;
  margin-right:5px;
  background-repeat: no-repeat;
  background-size:cover;
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvAq5OKLLwmxhiV5Gsw0I0ny-LBSWK6nr59DoY9GPkrxfEK8n6&s);
  content: '';
}
.line {
  border-bottom: 1px solid #ffc107 !important;
  position: relative;
}
.line:before {
  content: "";
  position: absolute;
  display: inline-block;
  border: 3px solid #ffc107;
  border-width: 3px 20px;
  top: -3px;
  border-radius: 3px;
}


/* Timeline */
.timeline {
  border-left: 4px solid #ffc107;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin: 20px auto 20px 1px;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 10px 15px;
  list-style: none;
  text-align: left;
}

.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  position: relative;
}
.timeline .event:last-of-type {
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -135px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 100px;
  border-radius: 30px;
  background-color: #fff;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #ffc107;
  left: -23px;
  background: #fff;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}


@media screen and (max-width: 750px) {
  .header {
    padding: 0;
  }


  .side {
    min-height: inherit;
    background: #333;
    /*color: inherit;*/
    position: inherit;
    width:inherit;
  }
  .side .photo {
    width: 220px;
    height: 220px;
    border: 8px #ffffff solid;
  }

  .content {
    padding: 20px;
  }


  .content,
  .header * {
    margin-left: 0px;
  }
  .header {
    margin-top: 0px;
    height: auto;
  }
  .header h3 {
    margin-bottom:50px;
  }
}

@media only print {
  .header {
    height: 230px;
    padding-left: 250px;
  }
  .quote {
    font-size: 2em;
  }
  .header h3 {
    margin: 0;
  }

  .side {
    width: 230px;
  }
  .photo {
    width: 180px;
    height: 180px;
  }
  .side-info p {
    max-width: 100;
    text-overflow: ellipsis;
    wite-space: nowrap;
    overflow: hidden;
  }

  .content {
    padding-left: 260px;
  }
  .event h4 {
    margin: 0 0 10px 0;
  }
}
